
/*ESTILOS GENERALES*/


/*Esto se aplica a toda la pagina cuando ponemos *  */
*{

    padding: 0px;
    margin: 0px;



}


body{

    background: url(../img/bgj.png);
}


/*color de los enlaces */

a{

    color: black;
    text-decoration: none;
}

a button{

    background: green;
}


/*a visited significa cuando los enlaces han sido visitados*/

a:visited{

    color: #45BD89;
}


/*a hover significa cuando pasamos por el link */


a:hover{

    color: black;

}

.alert_red{

    color: #00ff00;
}

.alert_green{
    color: #00ff00;
}


table{

    width: 100%;
    text-align: center;
    margin-top: 25px;
    border-bottom: 1px solid black;


}


img{
    height: 180px;
    max-width: 150px;

}


.imgcesta{

    height: 80px;
    margin: 10px auto;
}


/*container*/

/*el box sahdow se utiliza para paquetar  contenido dentro como por ejemplo cambiar el color */

#container{

    width: 80%;
    margin: 0px auto;
    box-shadow: 0px , 0px , 0px , 10px gray;
    background: white;

}

/*HEADER*/

#header{

    height: 145px;
    background: #F0F0F0;

}



#logo{

    padding: 20px;
    margin-left: 20px;
    float: left;
}


#logo img{

    float: left;
    height: 100px;


}

/*Maquetacion de la letras de la pagina*/
#logo a{

    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans' , Helvetica , Arial;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 15px #222222;
    transition: all 300ms;

}

#logo a:hover{

    text-shadow: 0px 2px 1px #222222 0px 0px 4px #01B1EA;
}






/*MENU*/

#menu{
    clear: both;
    background: gray;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul{


    list-style: none;
    text-decoration: none;
    margin: 0px auto;
}


#menu a:first-child{
    border-left: 1px solid #363636; 
}

#menu a:hover{
    background: #01B1EA;
}

#menu ul li{
    line-height: 55px;
    float:left;
    border-right: 1px solid #363636;

}


#menu a{
    display: block;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}



/*CONTENT*/

#content{
    margin: 0px  auto; 
    overflow: hidden;
    background: white;
}


/*BARRA LATERAL*/

#lateral{

    width: 22%;
    min-height: 500px;
    float: left;
    margin-top:20px;
    margin-left: 10px;

}


#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#lateral h3{

    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;


}

#lateral ul{
    margin-top: 20px;
    text-decoration: none;
    margin-bottom: 20px;
}

#lateral ul li{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*FORMS*/
input [type="text"],
input[type="password"],
input[type="email"],
label{

    display: block;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

input [type="text"],
input[type="password"],
input[type="email"],

select{

    border: 1px  solid #C9C9C9;
    box-shadow: 0px , 0px 2px #ccc inset ;
    background: white;
    padding: 2px;
    color: black;


}

input [type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{

    border: 1px solid #1579b5;
    color: black;

}




.buttonaparte{

    width: 120px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    background: gray;
    border-radius: 5px;
    margin-left: 150px;
    text-decoration: none;
    border: 2px solid black;
}




.buttonaparte:hover{

    background: #01B1EA;
}



input[type="button"],
input[type="submit"],
button {
    margin-top: 15px;
    display: block;
    border-radius: 2px;
    color: white;
    width: auto;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background: green;
    margin-left: 55px;
}

.button:hover{
    background: #01B1EA;
}

.button{
    margin-top: 15px;
    display: block;
    border-radius: 3px;
    width: auto;
    padding: 5px;
    color: white;
    background: green;
    color: white!important;
    text-transform: uppercase;
    text-decoration: none;
}


.button_pedido{

    color: white!important;
    width: 190px;
    text-align: center;

}
.button_delete{

    color: white!important;
    width: 190px;
    margin-left: 8px;
    text-align: center;
    background: red
}

.totalcarrito{
    width: 295px;
    float: left;
    display: block
}

.cantidad{
    
margin-top: 5px;
    
}

.but_vista{
    
     color: white!important;
    width: 100px;
    text-align: center;
    background: green
}



/*CENTRAL*/

#central{

    width: 72%;
    float: right;
    border-left: 1px  solid black;
    box-shadow: -5px -1px 5px #ddd;
    padding-left: 8px;




}

#central h1{

    font-size: 24px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;




}




/*PRODUCTOS*/

.product{

    width: 25%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;


}




.product h2{

    font-size: 15px;
    font-family: 'Open Sans' , Helvetica , Arial;

}

.product p{

    font-size: 15px;
    font-family: 'Open Sans' , Helvetica , Arial;
    font-weight: bold;


}
.product img{

    height: 150px;
    margin-top: 15px;



}


footer{
    margin-top: 25px;
    clear: both;
    color: white;
    background: black;
    border-top: 1px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;


}





